/* yohan.css */
/*font*/
/* headerFont {
  font-family: 'Jaro', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

/* 전체 스타일 */
.header_h1 {
  font-family: 'Jaro', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  grid-template-rows: 1fr 2.5fr 1fr 1fr;
  background: linear-gradient(
    to bottom,
    #2b2525 0%,
    #211c1f 36%,
    #000000 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #ff0558;
  padding: 20px;
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-container input[type='text'] {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.search-container button {
  padding: 10px; /* 버튼의 패딩 */
  background-color: #ff0558; /* 배경색 */
  color: #fff; /* 텍스트 색상 */
  border: none; /* 테두리 없음 */
  border-radius: 4px; /* 테두리 둥글게 */
  cursor: pointer;
  margin-left: 5px;
}

.search-container button:hover {
  background-color: #d7064c; /* 호버 배경색 */
}
#homeButton {
  padding: 10px; /* 버튼의 패딩 */
  background-color: #ff0558; /* 배경색 */
  color: #fff; /* 텍스트 색상 */
  border: none; /* 테두리 없음 */
  border-radius: 4px; /* 테두리 둥글게 */
  cursor: pointer;
}

#homeButton:hover {
  background-color: #d7064c; /* 호버 배경색 */
}

#movieContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  padding: 20px 100px 0px 100px;
  background-color: #000000;
}

.movieCard {
  background-color: #fff;
  border: 3px solid #484848;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.movieCard:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movieCard img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.movieCard .movieInfo {
  padding: 10px;
}

.movieCard h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.movieCard p {
  margin: 0;
  line-height: 1.5;
}

#popup {
  display: none;
  position: fixed;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #141517;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  z-index: 1000;
  overflow-y: scroll;
  opacity: 0.98;
}

.popup-content {
  text-align: center;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.popupImgclass {
  float: left;
  height: 400px;
  width: 300px;
}

body,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.left-side-bar > ul ul {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: white;
}

.left-side-bar {
  background-color: white;
  height: 100%;
  width: 180px;
  position: fixed;
  left: -155px;
  transition: left 0.3s;
}

.left-side-bar > .status-ico {
  text-align: right;
  padding: 10px;
}

.left-side-bar > ul li {
  position: relative;
}

.left-side-bar ul {
  font-weight: bold;
  text-align: center;
  padding: 0;
}

.left-side-bar ul > li > a {
  display: block;
  padding: 10px;
  white-space: nowrap;
}

.left-side-bar:hover {
  left: 0;
}

.left-side-bar ul > li:hover ul {
  display: block;
}

.left-side-bar ul > li:hover > a {
  color: white;
  background-color: black;
}

#submitComment {
  padding: 10px; /* 버튼의 패딩 */
  margin: 15px 0px 20px 0px;
  background-color: #ffffff;
  width: 180px;
  color: #f82f62; /* 텍스트 색상 */
  border: 2px solid #f82f62; /* 테두리 없음 */
  border-radius: 4px; /* 테두리 둥글게 */
  cursor: pointer;
  margin-left: 10px; /* 왼쪽 여백 */
  position: relative; /* 상대 위치 설정 */
}
#commentDisplay {
  background-color: #28262a;
}
.comment {
  display: grid;
  grid-template-columns: 25fr 2fr 1fr;
  margin: 10px;
  padding-left: 12px;
  background-color: transparent;
  color: #ffffff;
  border-bottom: #000000 solid 2px;
}

.comment p {
  margin: 10px;
  font-size: medium;
  background-color: transparent;
  color: #ffffff;
}

#editButton {
  padding: 10px; /* 버튼의 패딩 */
  background-color: #f82f62;
  color: #fff; /* 텍스트 색상 */
  border: none; /* 테두리 없음 */
  border-radius: 4px; /* 테두리 둥글게 */
  cursor: pointer;
  margin-bottom: 10px; /* 여백 */
  position: relative; /* 상대 위치 설정 */
}
#editButton:hover {
  background-color: #d82854;
}
#deleteButton {
  padding: 10px; /* 버튼의 패딩 */
  background-color: #0056b3; /* 배경색 */
  color: #fff; /* 텍스트 색상 */
  border: none; /* 테두리 없음 */
  border-radius: 4px; /* 테두리 둥글게 */
  cursor: pointer;
  margin-left: 10px; /* 왼쪽 여백 */
  margin-bottom: 10px;
  position: relative; /* 상대 위치 설정 */
}

#deleteButton :hover {
  background-color: #00478f; /* 호버 배경색 */
}

/* 가상 요소를 사용하여 "X" 모양 만들기 */
#deleteButton::before,
#deleteButton::after {
  content: ''; /* 가상 요소에 내용 없음 설정 */
  position: absolute; /* 절대 위치 설정 */
  top: 50%; /* 상단 위치 */
  left: 50%; /* 좌측 위치 */
  width: 20px; /* 너비 */
  height: 2px; /* 높이 */
  background-color: #fff; /* 선의 색상 */
  transform: translate(-50%, -50%) rotate(45deg); /* 회전 및 위치 조정 */
}

#deleteButton::after {
  transform: translate(-50%, -50%) rotate(-45deg); /* 다른 방향으로 회전 */
}

